<section>
    <div class="container">
        <div>
            
            <%= link_to "Back to friends", friends_path %>
        </div>
        <div class="spacer-20"></div>

        <h1>Editing friend</h1>

        <br/>

        <%= render "form", friend: @friend %>

        <br/>

        

        
    </div>
</section>
