<section>
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-sm-12 col-lg-6 hero__image-wrapper" style="
                                                                            display: flex;
                                                                            justify-content: center;">
                <img src="https://images.unsplash.com/photo-1543807535-eceef0bc6599?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="d-block mx-lg-auto img-fluid hero__main-image" alt="Bootstrap Themes" width="100%" height="100vh" loading="lazy"></div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">All your contacts in the same place, anywhere.</h1>
                <p class="lead mb-5">Never lose contact information again by changing your cell phone or phone chip. Unlimited contact slots for free!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">

                    <%= link_to 'List of contacts', friends_path, class:"btn btn-primary px-4 me-md-2" %>
                    
                </div>
            </div>
        </div>
    </div>
</section>
